@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.blob {
    background: #e69c9c;
    border-radius: 50%;
    right: 9px; /* Utilisation de left au lieu de right */
    margin-top: -9px;
    height: 20px;
    width: 20px;
    position: relative; /* Assurez-vous d'ajouter position: relative; */

	box-shadow: 0 0 0 0 rgb(80, 14, 87);
	transform: scale(1);
	animation: pulse 0.9s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.45);
		box-shadow: 0 0 0 0 rgba(220, 198, 240, 0.7);
	}

	70% {
		transform: scale(0.5);
		box-shadow: 0 0 0 10px rgba(116, 18, 69, 0);
	}

	100% {
		transform: scale(0.45);
		box-shadow: 0 0 0 0 rgba(225, 149, 149, 0);
	}
}
@keyframes spotlight {
  0%, 100% {
    background-position: 200% center;
  }
  50% {
    background-position: 0% center;
  }
}

.animate-spotlight {
  background-size: 200% 200%;
  animation: spotlight 3s ease-in-out infinite;
}


@layer base{
   
}

@layer components {
  .hero__heading {
    @apply text-6xl text-black relative dark:text-white;
  }

  .hero__heading::before {
    @apply  text-primary-400 font-medium  absolute -top-7 -left-16 text-base dark:text-opacity-80 dark:text-white;
    content: "Hello there, I am";
  }

  .hero__heading::after {
    @apply text-primary-400 font-medium  absolute -bottom-8 -right-28 text-base dark:text-opacity-80 dark:text-white;
    content: "Full Stack Web Developper";
  }
}
body {
  @apply bg-custom-pink;
}